<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game</title>
  </head>
  <body>
    <form action="/madlib">
        <p>Fill Out This Form For a Cool Madlib!!!</p>
        <input type="text" name="color" placeholder="Color">
        <input type="text" name="noun" placeholder="Noun">
        <input type="text" name="person" placeholder="Person">
        <input type="text" name="adjective" placeholder="Adjective">
        <input type="submit">
  </body>
</html>
